.party-container{
    display: flex;
    margin: 20px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
.image-wrapper{
    width: 280px;
    height: 380px;
    object-fit: cover;
}
